<ion-header>
  <ion-navbar>
      <ion-title style="text-align:left;">insure.me</ion-title>
      <ion-buttons  end [hidden]="showLoginBtn">

        <button  class="navLBtn"(click)="login()" >Log in</button>

      </ion-buttons>
      <ion-buttons  end [hidden]="!showLoginBtn">
		
        <button class="navLBtn" (click)="logout()" >{{userId}} Logout</button>

      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content  class="backg" style="padding-top:82px; margin-bottom:100px;">
  <div class="title" style="font-size:52px;     padding-top: 32px; color:#FFF;">transparency <br />fairness<br /> trust</div>
  <div class="title" style="margin:26px 0px 26px 0px; padding:0px;">Broadcast your need to insure:</div>


<div class="products">
  <button (click)="insureMyCar()" class="btnOptions">
    <ion-icon name="car" style="icons"></ion-icon>
    <div class="insuranceType">your awesome car</div>
  </button>
</div>

<div class="products">
  <button (click)="insureMyCar()" class="btnOptions">
    <ion-icon name="home" style="icons"></ion-icon>
    <div class="insuranceType">your lovely home</div>
  </button>
</div>

<div class="products" (click)="insureMyCar()">

  <button class="btnOptions">
    <ion-icon name="medkit" style="icons"></ion-icon>
    <div class="insuranceType">your ok body</div>
  </button>

</div>


<hr />

<ng-container *ngIf="userType != 'INSURANCE_COMPANY' " >

	<div class="title" style="margin:26px 0px 25px 0px; padding:0px;" *ngIf="pendingQuotes != undefined ">Incomplete Quotes</div>
	<ng-container *ngFor="let pending of pendingQuotes" >
	  <ng-container *ngIf="pending.quoteRequest.photosTaken && pending.quoteRequest.open ">
	  <ion-item style="max-width:400px; margin:0px auto 0px auto;" (click)="loadPendingQuote(pending.quoteRequest.id)">
		  <div style=" line-height:26px; float:left;">{{pending.quoteRequest.insuranceTypeCode}} {{pending.carRegistrationNumber}}</div> <div style="float:right; "> <ion-icon style="font-size:25px;" name="arrow-dropright-circle"></ion-icon></div><div style="float:right; line-height:26px; margin-right:16px;">Submit photos</div>
	  </ion-item>
		</ng-container>
	</ng-container>

	<div class="title" style="margin:26px 0px 25px 0px; padding:0px;" *ngIf="pendingQuotes != undefined ">Awaiting Offers</div>
	<ng-container *ngFor="let pending of pendingQuotes" >
	  <ng-container *ngIf="pending.quoteRequest.photosTaken && pending.quoteRequest.open">
	  <ion-item style="max-width:400px; margin:0px auto 0px auto;" (click)="loadWaitingOffer(pending.quoteRequest.id)">

		  <div style=" line-height:26px; float:left;">{{pending.quoteRequest.insuranceTypeCode}} {{pending.carRegistrationNumber}}</div> <div style="float:right; "> <ion-icon style="font-size:25px;" name="arrow-dropright-circle"></ion-icon></div><div style="float:right; line-height:26px; margin-right:16px;"></div>
	  </ion-item>
		</ng-container>
	</ng-container>
	
	<div class="title" style="margin:26px 0px 25px 0px; padding:0px;" *ngIf="pendingQuotes != undefined ">Completed Quotes</div>
	<ng-container *ngFor="let pending of pendingQuotes" >
	  <ng-container *ngIf="pending.quoteRequest.photosTaken && !pending.quoteRequest.open">
	  <ion-item style="max-width:400px; margin:0px auto 0px auto;" (click)="loadWaitingOffer(pending.quoteRequest.id)">

		  <div style=" line-height:26px; float:left;">{{pending.quoteRequest.insuranceTypeCode}} {{pending.carRegistrationNumber}}</div> <div style="float:right; "> <ion-icon style="font-size:25px;" name="arrow-dropright-circle"></ion-icon></div><div style="float:right; line-height:26px; margin-right:16px;"></div>
	  </ion-item>
		</ng-container>
	</ng-container>
</ng-container>

<ng-container *ngIf="userType == 'INSURANCE_COMPANY' " >

	<div class="title" style="margin:26px 0px 25px 0px; padding:0px;" *ngIf="newQuoteRequests != undefined ">New Requests</div>
	<button  class="title">Subscribe</button>
	  
	<ng-container *ngFor="let pending of newQuoteRequests" >
	  <ion-item style="max-width:400px; margin:0px auto 0px auto;" (click)="loadWaitingOffer(pending.id)">
		  <div style=" line-height:26px; float:left;">{{pending.insuranceTypeCode}}</div> <div style="float:right; "> <ion-icon style="font-size:25px;" name="arrow-dropright-circle"></ion-icon></div><div style="float:right; line-height:26px; margin-right:16px;">Make an offer</div>
	  </ion-item>
	</ng-container>
	
	<div class="title" style="margin:26px 0px 25px 0px; padding:0px;" *ngIf="newQuoteRequests != undefined ">Your Pending Offers</div>

    <div class="title" style="margin:26px 0px 25px 0px; padding:0px;" *ngIf="newQuoteRequests != undefined ">Accepted Offers</div>

	<div class="title" style="margin:26px 0px 25px 0px; padding:0px;" *ngIf="newQuoteRequests != undefined ">Rejected Offers</div>

</ng-container>

<pre>



</pre>

</ion-content >
