<ion-header>
  <ion-navbar>
      <ion-title style="text-align:left;">Insure Me</ion-title>
      <ion-buttons  end [hidden]="showLoginBtn">

        <button  class="navLBtn"(click)="login()" >Log in</button>

      </ion-buttons>
      <ion-buttons  end [hidden]="!showLoginBtn">

        <button class="navLBtn" (click)="logout()" >Logout</button>

      </ion-buttons>
  </ion-navbar>
</ion-header>

<div class="backg" style="padding-top:82px;">
  <div class="title" style="font-size:52px;">Transparency <br />Fairness<br /> Trust</div>
  <div style="margin:26px 15% 26px 15%; padding:0px; width:70%;">Some info blah blah blah for the company, what we do and how awesome we are ;)</div>
  <div class="title" style="margin:26px 0px 26px 0px; padding:0px;">I want to insure:</div>


<div class="products">
  <button (click)="insureMyCar()" class="btnOptions">
    <ion-icon name="car" style="icons"></ion-icon>
    <div class="insuranceType">my awesome car</div>
  </button>
</div>

<div class="products">
  <button (click)="insureMyCar()" class="btnOptions">
    <ion-icon name="home" style="icons"></ion-icon>
    <div class="insuranceType">my lovely home</div>
  </button>
</div>

<div class="products" (click)="insureMyCar()">

  <button class="btnOptions">
    <ion-icon name="medkit" style="icons"></ion-icon>
    <div class="insuranceType">my ok body</div>
  </button>

</div>


<hr />

<div class="title" style="margin:26px 0px 25px 0px; padding:0px;" *ngIf="pendingQuotes != undefined ">Pending Quotes</div>

<ng-container *ngFor="let pending of pendingQuotes" >
  <ion-item style="max-width:400px; margin:0px auto 0px auto;" (click)="loadPendingQuote(pending.quoteRequest.id)">
  <div style=" line-height:26px; float:left;">{{pending.quoteRequest.insuranceTypeCode}} {{pending.carRegistrationNumber}}</div> <div style="float:right; "> <ion-icon style="font-size:25px;" name="arrow-dropright-circle"></ion-icon></div><div style="float:right; line-height:26px; margin-right:16px;">Incomplete </div>
  </ion-item>
</ng-container>

</div>
